In [ ]:
# Name: Prashant Pathak(Internship 33) ASSIGNMENT-1; WEB SCRAPING

In [ ]:
!pip install bs4
!pip install requests

In [17]:
# Question.1- Write a python program to display all the header tags from wikipedia.org.
# solution:-
from bs4 import BeautifulSoup
import requests

url_link = 'https://en.wikipedia.org/wiki/Main_Page'
request = requests.get(url_link)
 
Soup = BeautifulSoup(request.text, 'lxml')
 
# creating a list of all common heading tags
heading_tags = ["h1", "h2", "h3"]
for tags in Soup.find_all(heading_tags):
    print(tags.name)

h1
h1
h2
h2
h2
h2
h2
h2
h2
h2
h2
h2
h3
h3
h3
h3
h3
h3
h3
h3
h3
h3

In [18]:
# Question 2.-  Write a python program to display IMDB's Top rated 100 movies data(ie. name,rating,year of release) and make dataframe.
# Solution:-
from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get("https://www.imdb.com/chart/top")
soup=BeautifulSoup(page.content)

title=[]
for i in soup.find_all('td',class_="titleColumn"):
    title.append(i.text.split("\n")[2])
    
title=title[0:100]

year=[]
for i in soup.find_all('td',class_="titleColumn"):
    year.append(i.text.split("\n")[3])
    
year=year[0:100]

rating=[]
for i in soup.find_all('td',class_="ratingColumn imdbRating"):
    rating.append(i.text.split("\n")[1])
    
rating=rating[0:100]

df=pd.DataFrame({"Movie Name":title,"Year of Releas":year,"Rating":rating})
df

                                 Movie Name Year of Releas Rating
0                  The Shawshank Redemption         (1994)    9.2
1                             The Godfather         (1972)    9.2
2                           The Dark Knight         (2008)    9.0
3                     The Godfather Part II         (1974)    9.0
4                              12 Angry Men         (1957)    9.0
..                                      ...            ...    ...
95                       Lawrence of Arabia         (1962)    8.3
96        M - Eine Stadt sucht einen Mörder         (1931)    8.3
97                             Idi i smotri         (1985)    8.3
98                       North by Northwest         (1959)    8.2
99                                  Vertigo         (1958)    8.2

[100 rows x 3 columns]

In [19]:
# Question 3.-  Write a python program to display IMDB's Top rated 100 INDIAN movies data(ie. name,rating,year of release) and make dataframe.
# Solution:-
from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get("https://www.imdb.com/list/ls056092300/")
soup=BeautifulSoup(page.content)

title=[]
for i in soup.find_all('h3',class_="lister-item-header"):
    title.append(i.text.split("\n")[2])
    
title=title[0:100]

year=[]
for i in soup.find_all('h3',class_="lister-item-header"):
    year.append(i.text.split("\n")[3])
    
year=year[0:100]

rating=[]
for i in soup.find_all('span',class_="ipl-rating-star__rating"):
    rating.append(i.text)
    
rating=rating[0:100]

df=pd.DataFrame({"Movie Name":title,"Year of Releas":year,"Rating":rating})
df

                           Movie Name Year of Releas Rating
0                     Ship of Theseus         (2012)      8
1                              Iruvar         (1997)      0
2                     Kaagaz Ke Phool         (1959)   Rate
3   Lagaan: Once Upon a Time in India         (2001)      1
4                     Pather Panchali         (1955)   Rate
..                                ...            ...    ...
95                        Apur Sansar         (1959)      1
96                        Kanchivaram         (2008)   Rate
97                    Monsoon Wedding         (2001)      2
98                              Black         (2005)   Rate
99                            Deewaar         (1975)      3

[100 rows x 3 columns]

In [20]:
# Question 4.- Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm
# Solution:-
from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get("https://presidentofindia.nic.in/former-presidents.htm")
soup=BeautifulSoup(page.content)
name=[]
for i in soup.find_all('div',class_="presidentListing"):
    name.append(i.text.split("\n")[1])

office_trm=[]
for i in soup.find_all('div',class_="presidentListing"):
    office_trm.append(i.text.split("\n")[2][16:])

df=pd.DataFrame({"Name of President":name,"Term of Office":office_trm})
df

,Name of President,Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

In [21]:
# Question 5.- Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# Solution 5(a):  Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
soup=BeautifulSoup(page.content)
team=[]
for i in soup.find_all('tr',class_="rankings-block__banner"):
    team.append(i.text.split("\n")[4])
for i in soup.find_all('tr',class_="table-body"):
    team.append(i.text.split("\n")[4])

matches=[]
for i in soup.find_all('tr',class_="rankings-block__banner"):
    matches.append(i.text.split("\n")[7])
for i in soup.find_all('tr',class_="table-body"):
    matches.append(i.text.split("\n")[7])

points=[]
for i in soup.find_all('tr',class_="rankings-block__banner"):
    points.append(i.text.split("\n")[8])
for i in soup.find_all('tr',class_="table-body"):
    points.append(i.text.split("\n")[8])

rating=[]
for i in soup.find_all('tr',class_="rankings-block__banner"):
    rating.append(i.text.split("\n")[10])
for i in soup.find_all('tr',class_="table-body"):
    rating.append(i.text.split("\n")[9])

df=pd.DataFrame({"Team":team,"Matches":matches,"Points":points,"Rating":rating})
df=df[0:10]
df

           Team Matches Points                           Rating
0       England      27  3,226                              119
1   New Zealand      22  2,508                              114
2         India      34  3,802                              112
3      Pakistan      22  2,354                              107
4     Australia      29  3,071                              106
5  South Africa      24  2,392                              100
6    Bangladesh      30  2,753                               92
7     Sri Lanka      29  2,658                               92
8   West Indies      41  2,902                               71
9   Afghanistan      18  1,238                               69

In [22]:
# Question 5.- Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# Solution 5(b): Top 10 ODI Batsmen along with the records of their team and rating.

import requests
import pandas as pd

page = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
soup=BeautifulSoup(page.content)

name=[]
for i in soup.find_all ('td',class_="table-body__cell name"):
    name.append(i.text.split("\n")[1])

name.insert(0,'Babar Azam')
name=name[0:10]


team=[]
for i in soup.find_all ('span',class_="table-body__logo-text"):
    team.append(i.text)

team.insert(0,'PAK')
team=team[0:10]


rating=[]
for i in soup.find_all ('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)

rating.insert(0,'890')
rating=rating[0:10]


df=pd.DataFrame({"Name of Player":name,"Team":team,"Rating":rating})
df

          Name of Player Team Rating
0             Babar Azam  PAK    890
1            Imam-ul-Haq  PAK    779
2  Rassie van der Dussen   SA    766
3        Quinton de Kock   SA    759
4         Jonny Bairstow  ENG    732
5           David Warner  AUS    725
6            Virat Kohli  IND    722
7           Rohit Sharma  IND    718
8            Ross Taylor   NZ    701
9            Steve Smith  AUS    697

In [23]:
# Question 5.- Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# Solution 5(c): Top 10 ODI bowlers along with the records of their team and rating.
from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
soup=BeautifulSoup(page.content)

name=[]
for i in soup.find_all ('td',class_="table-body__cell name"):
    name.append(i.text.split("\n")[1])


name=name[9:18]
name.insert(0,'Trent Boult')

team=[]
for i in soup.find_all ('span',class_="table-body__logo-text"):
    team.append(i.text)

team=team[9:18]
team.insert(0,'NZ')

rating=[]
for i in soup.find_all ('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)

rating=rating[9:18]
rating.insert(0,'775')

df=pd.DataFrame({"Name of Player":name,"Team":team,"Rating":rating})
df

     Name of Player Team Rating
0       Trent Boult   NZ    775
1    Josh Hazlewood  AUS    718
2  Mujeeb Ur Rahman  AFG    676
3    Shaheen Afridi  PAK    661
4     Mohammad Nabi  AFG    657
5      Mehedi Hasan  BAN    655
6        Matt Henry   NZ    654
7    Mitchell Starc  AUS    653
8       Rashid Khan  AFG    651
9    Jasprit Bumrah  IND    642

In [24]:
# Question 6.- Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# Solution 6(a):  Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
soup=BeautifulSoup(page.content)
team=[]
for i in soup.find_all('tr',class_="rankings-block__banner"):
    team.append(i.text.split("\n")[4])
for i in soup.find_all('tr',class_="table-body"):
    team.append(i.text.split("\n")[4])

matches=[]
for i in soup.find_all('tr',class_="rankings-block__banner"):
    matches.append(i.text.split("\n")[7])
for i in soup.find_all('tr',class_="table-body"):
    matches.append(i.text.split("\n")[7])

points=[]
for i in soup.find_all('tr',class_="rankings-block__banner"):
    points.append(i.text.split("\n")[8])
for i in soup.find_all('tr',class_="table-body"):
    points.append(i.text.split("\n")[8])

rating=[]
for i in soup.find_all('tr',class_="rankings-block__banner"):
    rating.append(i.text.split("\n")[10])
for i in soup.find_all('tr',class_="table-body"):
    rating.append(i.text.split("\n")[9])

df=pd.DataFrame({"Team":team,"Matches":matches,"Points":points,"Rating":rating})
df=df[0:10]
df

           Team Matches Points                           Rating
0     Australia      18  3,061                              170
1  South Africa      26  3,098                              119
2       England      25  2,904                              116
3         India      27  2,820                              104
4   New Zealand      24  2,425                              101
5   West Indies      24  2,334                               97
6    Bangladesh      12    932                               78
7      Pakistan      21  1,237                               59
8       Ireland      11    516                               47
9     Sri Lanka       8    353                               44

In [25]:
# Question 6.- Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# Solution 6(b): Top 10 ODI women's Batsmen along with the records of their team and rating.

import requests
import pandas as pd

page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
soup=BeautifulSoup(page.content)

name=[]
for i in soup.find_all ('td',class_="table-body__cell name"):
    name.append(i.text.split("\n")[1])

name.insert(0,'Alyssa Healy')
name=name[0:10]


team=[]
for i in soup.find_all ('span',class_="table-body__logo-text"):
    team.append(i.text)

team.insert(0,'AUS')
team=team[0:10]


rating=[]
for i in soup.find_all ('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)

rating.insert(0,'785')
rating=rating[0:10]


df=pd.DataFrame({"Name of Player":name,"Team":team,"Rating":rating})
df

        Name of Player Team Rating
0         Alyssa Healy  AUS    785
1          Beth Mooney  AUS    749
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    725
4     Harmanpreet Kaur  IND    716
5      Smriti Mandhana  IND    714
6          Meg Lanning  AUS    710
7       Rachael Haynes  AUS    701
8    Amy Satterthwaite   NZ    661
9  Chamari Athapaththu   SL    655

In [26]:
# Question 6.- Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# Solution 6(c): Top 10 women's ODI bowlers along with the records of their team and rating.
from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
soup=BeautifulSoup(page.content)

name=[]
for i in soup.find_all ('td',class_="table-body__cell name"):
    name.append(i.text.split("\n")[1])


name=name[9:18]
name.insert(0,'Sophie Ecclestone')

team=[]
for i in soup.find_all ('span',class_="table-body__logo-text"):
    team.append(i.text)

team=team[9:18]
team.insert(0,'ENG')

rating=[]
for i in soup.find_all ('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)

rating=rating[9:18]
rating.insert(0,'739')

df=pd.DataFrame({"Name of Player":name,"Team":team,"Rating":rating})
df

        Name of Player Team Rating
0    Sophie Ecclestone  ENG    739
1        Jess Jonassen  AUS    725
2         Megan Schutt  AUS    722
3       Shabnim Ismail   SA    722
4       Jhulan Goswami  IND    698
5      Hayley Matthews   WI    671
6           Kate Cross  ENG    657
7       Ayabonga Khaka   SA    634
8  Rajeshwari Gayakwad  IND    617
9       Marizanne Kapp   SA    598

In [31]:
# Question 7.-  Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
# i) Headline ii) Time iii) News Link
# Solution:-
from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get("https://www.cnbc.com/world/?region=world")
soup=BeautifulSoup(page.content)

headline=[]
for i in soup.find_all('a',class_="LatestNews-headline"):
    headline.append(i.text)

time=[]
for i in soup.find_all('span',class_="LatestNews-wrapper"):
    time.append(i.text)

news_link=[]
for i in soup.find_all('a',class_="LatestNews-headline"):
    news_link.append(i.get('href'))



df=pd.DataFrame({'Headline':headline,"Time":time,"News Link":news_link})
df

,Headline,Time,News Link
0,Musk plans Twitter content moderation council ...,10 Min Ago,https://www.cnbc.com/2022/10/28/musk-plans-twi...
1,"Why Bryan Cranston, Aaron Paul work 17-hour da...",12 Min Ago,https://www.cnbc.com/2022/10/28/bryan-cranston...
2,What to watch in the markets in the week ahead,58 Min Ago,https://www.cnbc.com/2022/10/28/the-fed-could-...
3,FDA says two studies on omicron boosters were ...,1 Hour Ago,https://www.cnbc.com/2022/10/28/fda-says-two-s...
4,A roundup of 8 price target changes in Club st...,1 Hour Ago,https://www.cnbc.com/2022/10/28/heres-a-round-...
5,Analysts think the biggest stock winners this ...,2 Hours Ago,https://www.cnbc.com/2022/10/28/analysts-think...
6,Major tech ETFs saw big inflows this week as i...,2 Hours Ago,https://www.cnbc.com/2022/10/28/major-tech-etf...
7,This analyst says Amazon’s dismal forecast sig...,2 Hours Ago,https://www.cnbc.com/2022/10/28/amazons-foreca...
8,Inflation has caused 54% of adults to stop or ...,2 Hours Ago,https://www.cnbc.com/2022/10/28/inflation-caus...
9,Elon Musk's first day owning Twitter leads to ...,2 Hours Ago,https://www.cnbc.com/2022/10/28/musk-first-day...
10,Breaking down October's big stock bounce,3 Hours Ago,https://www.cnbc.com/2022/10/28/breaking-down-...
11,TreasuryDirect crashes as investors try to bea...,3 Hours Ago,https://www.cnbc.com/2022/10/28/treasurydirect...
12,"Stocks making the biggest moves midday: Apple,...",3 Hours Ago,https://www.cnbc.com/2022/10/28/stocks-making-...
13,Paul Pelosi suspect to be charged with attempt...,3 Hours Ago,https://www.cnbc.com/2022/10/28/watch-police-d...
14,Inflation bonds have surged in popularity amid...,3 Hours Ago,https://www.cnbc.com/2022/10/28/why-inflation-...
15,Multiple revenue misses in one of our winners ...,3 Hours Ago,https://www.cnbc.com/2022/10/28/multiple-reven...
16,"This new bull market could rally in November, ...",4 Hours Ago,https://www.cnbc.com/2022/10/28/this-is-a-new-...
17,Truth Social merger partner's shares rise afte...,4 Hours Ago,https://www.cnbc.com/2022/10/28/truth-social-m...
18,3 takeaways from our daily meeting: Looking fo...,4 Hours Ago,https://www.cnbc.com/2022/10/28/takeaways-from...
19,Bank of America says 250 years of history poin...,4 Hours Ago,https://www.cnbc.com/2022/10/28/bank-of-americ...
20,"Apple stock surges, on pace for its best day s...",4 Hours Ago,https://www.cnbc.com/2022/10/28/apple-stock-su...
21,Honeywell CEO is preparing businesses for a to...,4 Hours Ago,https://www.cnbc.com/2022/10/28/honeywell-ceo-...
22,Tom Brady and Gisele Bundchen announce divorce...,4 Hours Ago,https://www.cnbc.com/2022/10/28/tom-brady-and-...
23,GoodRx CEO: This simple weekly routine can bui...,4 Hours Ago,https://www.cnbc.com/2022/10/28/goodrx-ceo-dou...
24,Lawmakers urge tech CEOs to do more to help Ir...,4 Hours Ago,https://www.cnbc.com/2022/10/28/lawmakers-urge...
25,We're exiting a drug stock for a nice gain and...,5 Hours Ago,https://www.cnbc.com/2022/10/28/were-exiting-a...
26,Some TikTok users are receiving $167 checks ov...,5 Hours Ago,https://www.cnbc.com/2022/10/28/tiktok-users-p...
27,Foods that boost your immune system: 4 nutriti...,5 Hours Ago,https://www.cnbc.com/2022/10/28/foods-to-boost...
28,Help! My friend won't stop complaining about work,6 Hours Ago,https://www.cnbc.com/2022/10/28/make-it-work-a...
29,"Trump says Twitter, which banned him, 'is now ...",6 Hours Ago,https://www.cnbc.com/2022/10/28/trump-says-twi...

In [27]:
# Question 8.- Write a python program to scrape the details of most downloaded articles from AI in last 90 days. 
# https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
# Scrape below mentioned details : i) Paper Title ii) Authors iii) Published Date iv) Paper URL 
# Solution:-
from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
soup=BeautifulSoup(page.content)

title=[]
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    title.append(i.text)

authors=[]
for i in soup.find_all('span',class_="sc-1w3fpd7-0 pgLAT"):
    authors.append(i.text)

published_date=[]
for i in soup.find_all('span',class_="sc-1thf9ly-2 bKddwo"):
    published_date.append(i.text)
    
paper_url=[]
for i in soup.find_all('a',class_="sc-5smygv-0 nrDZj"):
    paper_url.append(i.get('href'))
    
df=pd.DataFrame({'Paper Title':title,"Authors":authors,"Published Date":published_date,"Paper URL":paper_url})
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [28]:
# Question 9.-  Write a python program to scrape mentioned details from dineout.co.in :
# i) Restaurant name ii) Cuisine iii) Location iv) Ratings v) Image URL
# Solution:-
from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get("http://www.dineout.co.in/delhi-restaurants/buffet-special")
soup=BeautifulSoup(page.content)

title=[]
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    title.append(i.text)

cuisine=[]
for i in soup.find_all('div',class_="detail-info"):
    cuisine.append(i.text.split("|")[1])

location=[]
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)

rating=[]
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    rating.append(i.text)
    
images=[]
for i in soup.find_all('img',class_="no-img"):
    images.append(i.get('data-src'))
    
df=pd.DataFrame({'Name of Restaurant':title,"Cuisine":cuisine,"Location":location,"Rating":rating,"Images URL":images})
df

,Name of Restaurant,Cuisine,Location,Rating,Images URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

In [29]:
# Question 10.- Write a python program to scrape the details of top publications from Google Scholar from 
# https://scholar.google.com/citations?view_op=top_venues&hl=en i) Rank ii) Publication iii) h5-index iv) h5-median

# Solution :- 
from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en")
soup=BeautifulSoup(page.content)

rank=[]
for i in soup.find_all('td',class_="gsc_mvt_p"):
    rank.append(i.text)

publication=[]
for i in soup.find_all('td',class_="gsc_mvt_t"):
    publication.append(i.text)

h5_index=[]
for i in soup.find_all('a',class_="gs_ibl gsc_mp_anchor"):
    h5_index.append(i.text)

h5_median=[]
for i in soup.find_all('span',class_="gs_ibl gsc_mp_anchor"):
    h5_median.append(i.text)

df=pd.DataFrame({"Rank":rank,"Publication":publication,"h5-index":h5_index,"h5-median":h5_median})
df

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]